<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujin.study.mapper.DeptMapper">


    <select id="queryAll" resultType="com.xujin.study.model.Dept">
        select * from  oa_dept
    </select>
</mapper>
